# History files
**/.Rhistory
**/.Rapp.history

# Session Data files
**/.RData

# User-specific files
**/.Ruserdata

# Output files from R CMD build
**/*.tar.gz

# Output files from R CMD check
**/*.Rcheck/

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
**/.Renviron


# project specific files
**/Chicago_Key.R

# project specific folders
01_simulations/visualisation/
02_taxi/data/
02_taxi/visualisation/

